.font-urdu {
  font-family: 'Noto Nastaliq Urdu', serif;
  direction: rtl;
  line-height: 2;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F8F6F0; /* gov-cream */
  color: #1a1a1a;
}
